html {
  margin: 0;
  scroll-behavior: smooth;
}
body {
  margin: 0 0 20em 0;
  background-color: #d2d7d9;
  font: 16px serif;
}
header {
  padding: 4em 2em;
  background-color: #161819;
  color: #617078;
  text-align: right;
}
.logo,
p {
  width: 85.375em;
  margin: 1em auto;
  font-size: 1em;
}
.logo a {
  float: left;
}
p a {
  color: #a6b8c1;
  text-decoration: none;
}
p a:hover,
p a:focus {
  text-decoration: underline;
}
input {
  display: block;
  position: sticky;
  top: 1em;
  z-index: 2;
  width: 20em;
  margin: 2em auto 0 auto;
  border: 0.1em solid #467286;
  border-radius: 0.2em;
  outline: 0.2em solid #d2d7d9;
  background-color: #a6b8c1;
  color: inherit;
  padding: 0.3em 0.4em;
  font-size: 2em;
  font-family: inherit;
}
input:hover,
input:focus {
  border-color: #232627;
}
ul {
  margin: 4em 0 2em 0;
  padding: 0;
  text-align: center;
  font-size: 1.25em;
}
li {
  display: inline-block;
  margin-right: 2em;
}
li::before,
td {
  background-color: #a6b8c1;
}
li::before {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  margin: 0 1em;
  border: 0.1em solid #232627;
  vertical-align: -0.2em;
}
li.link::before,
td a {
  border-color: #a6b8c1;
  background-color: #467286;
  color: #d2d7d9;
}
li.undocumented::before,
td.undocumented {
  border-color: #6a2635;
  background-color: #c08c98;
  color: #6a2635;
}
li.z180::before,
td.z180 {
  border-color: #5d2e77;
  background-color: #b8a6c2;
  color: #5d2e77;
}
td.unmatched {
  background-color: #617078;
  color: #232627;
}
h2 {
  margin: 2em 0 1em 0;
  text-align: center;
  font-size: 2em;
}
table {
  table-layout: fixed;
  position: relative;
  margin: auto;
  border-spacing: 0.1875em;
  line-height: 1;
}
th,
td {
  padding: 0.5em;
}
th,
emph,
td::before {
  background-color: #374952;
}
th {
  height: 3em;
  color: #a6b8c1;
  user-select: none;
}
td {
  position: relative;
  color: #232627;
}
tr:first-child th,
tr + tr td {
  width: 4em;
  max-width: 4em;
  min-width: 4em;
}
tr:first-child th,
tr:first-child td {
  height: 1em;
}
tr:first-child td {
  width: 1em;
  background-color: transparent;
}
emph,
tr + tr td::before {
  content: "";
  display: none;
  opacity: 0.2;
}
emph {
  position: absolute;
  right: 0.1875em;
  left: 2.1875em;
  z-index: 1;
  height: 4em;
  margin-top: -2.5em;
}
tr:first-child emph {
  top: 2.1875em;
  right: auto;
  bottom: 0.1875em;
  left: auto;
  width: 5em;
  height: auto;
  margin-top: 0;
  margin-left: -0.5em;
}
th:hover emph,
td:hover::before {
  display: block;
}
th emph:hover {
  display: none;
}
td::before,
td a {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 4em;
}
code {
  word-break: break-all;
  overflow-wrap: anywhere;
  font-weight: bold;
}
dl {
  display: none;
  position: absolute;
  top: 4em;
  left: -5em;
  z-index: 1;
  width: 13em;
  margin-top: 1em;
  padding: 1em 1em 0.7em 1em;
  box-shadow: 0 0 0.2em #806d15;
  background-color: #e4ddb9;
  color: #806d15;
}
td:hover dl {
  display: block;
}
dl::before,
dl::after {
  content: "";
  display: block;
  position: absolute;
  top: -1em;
}
dl::before {
  left: 0;
  right: 0;
  height: 1em;
}
dl::after {
  left: 6.8em;
  border-width: 0 0.7em 1em 0.7em;
  border-style: solid;
  border-color: #e4ddb9 transparent;
}
dt {
  float: left;
  font-weight: bold;
}
dt::after {
  content: ": ";
  white-space: pre-wrap;
}
dd {
  margin: 0 0 0.3em 0;
}
td a {
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  line-height: 4em;
}
td a:hover {
  background-color: #27556c;
}
